

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dbe2984bbb.js"></script>
    <link rel="stylesheet" type="text/css" href="estilos.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="script.js"></script>
    <title>Calculadora</title>
</head>
<body>

    <form id="calcula" name="calcula" class="calc" method="POST" action="">

        

        <input class="visor" id="visor" type="text"/>
            <table>
                
                <tr>
                    <td><input id="operador" class="btn" type="button" value="C" onclick="erase()"></td>
                    <td><button id="operador" class="fas fa-backspace btn"></button></td>
                    <td><input id="operador" class="btn" type="button" value="%" onclick="nume('%')"></td>
                    <td><input  id="operador" class="btn" type="button" value="/" onclick="nume('/')"></td>
                </tr>
                <tr>
                    <td><input  type="button" name="num" id="num" class="btn" value="7" onclick="nume(7)"/></td>
                    <td><input id="num" class="btn" type="button" value="8" onclick="nume(8)"></td>
                    <td><input id="num" class="btn" type="button" value="9" onclick="nume(9)"></td>
                    <td><input id="operador"  class="btn" type="button" value="*" onclick="nume()"></td>
                </tr>
                <tr>
                    <td><input id="num" class="btn" type="button" value="4" onclick="nume(4)"></td>
                    <td><input id="num" class="btn" type="button" value="5" onclick="nume(5)"></td>
                    <td><input id="num" class="btn" type="button" value="6" onclick="nume(6)"></td>
                    <td><input id="operador"  class="btn" type="button" value="-" onclick="nume('-')"></td>          
                </tr>
                <tr>
                    <td><input id="num" class="btn" type="button" value="1" onclick="nume(1)"></td>
                    <td><input id="num" class="btn" type="button" value="2" onclick="nume(2)"></td>
                    <td><input id="num" class="btn" type="button" value="3" onclick="nume(3)"></td>
                    <td><input id="operador" class="btn" type="button" value="+" onclick="nume('+')"></td>
                </tr>
                <tr>
                    <td colspan="2"><input id="num" class="zero" type="button" value="0" onclick="nume(0)"></td>
                    <td><input id="num" class="btn" type="button" value="," onclick="nume(',')"></td>
                    <td><input id="result"  class="btn" type="button" value="=" onclick="nume('=')"></td>
                </tr>
            </div>
        </table>

</body>
</html>